@page 
@model Meet3_HW1.Pages.Page1Model
@{
}



<style>
    div{
        margin:30px;
    }
    span{
        margin-right:15px;
    }
</style>

<form method="post" onsubmit="return false">
    <div id="root">

    </div>
   

    


    <input type="submit" value="Next" id="submit"/>
</form>



<script src="~/lib/jquery/dist/jquery.min.js">
    
</script>



<script src="~/js/JavaScript.js">
    
    
</script>



<script>
    ShowBlocks();
</script>
